.img-container-responsive{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px,1fr)
    );
    gap:32px
}

.form {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
  }

