:root {
  --fade-duration: 2s;
}

@view-transition{
  navigation: auto;
}

.work-main-container{
  width: 100vw;
  height: 90vh;
  display: flex;

}
.work-img-container{
  width: 60vw;
  height: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--black-100);
  box-shadow: inset 0 0 15px var( --black-50);
}

.work-direccion-left{
  flex-direction: row;
}
.work-direccion-right{
  flex-direction: row-reverse; 
}
.img-right{
  background-position: right;
}

@media (max-width: 768px) {

}

.porfolio-container {
  height: 80vh;
}

.grid-porfolio{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 200vw;
  height: inherit;
  grid-gap: 2px;
  white-space: nowrap
}

/* ITEMS */
.img-porfolio {
  display: block;
  object-fit: cover !important;
  filter: grayscale(0.5);
  cursor: pointer;
}

.img-porfolio:hover {
  filter: grayscale(0);
}

.fade-in-animation {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: var(--order-delay);
}


.form-porfolio {
  background-color: rgba(var(--color-primary-dark));
  border: 2px solid rgb(var(--color-primary-light));
  border-radius: .5rem;
  flex-direction: column;
  width: clamp(20rem, 25vw, 30rem);
  height: fit-content;
  padding: 3rem 1.5rem;
  display: flex;
  position: absolute;
  z-index: var(--z-index-middle);
}
.button-porfolio{
  border-radius: 6px;
  width: fit-content;
  padding: 0.7rem;
  color: rgb(var(--color-primary-front));
  font-weight: 600;
}
.reset-porfolio{
  background-color: rgb(var(--error-color));
  border-color: rgba(var(--error-color), 0.6);
}
.submit-porfolio{
  background-color: rgb(var(--color-primary-medium));
  border-color: rgb(var(--color-primary-light));
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .porfolio-container {
    height: 72vh;
  }

  .work-direccion-right,.work-direccion-left{
    flex-direction: column;
}
.img-right{
    background-position: center;
}
.work-img-container {
    width: auto;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--black-100);
    background-position: center;
}
}